@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link me-3" href="#"><i class="bi bi-bell"></i></a>
    <div class="dropdown">
        <a id="manage" class="nav-link text-white me-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Manage" href="#">
            @UserManager.GetUserName(User)!
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">My Profile</a></li>
            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a></li>
        </ul>
    </div>
    <a id="logout" type="submit" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
}
else
{
    <a class="btn btn-outline-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Log In</a>
    <a class="btn btn-secondary ms-2" id="register" asp-area="Identity" asp-page="/Account/Register">Sign Up</a>
}
</ul>
