<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container-fluid mx-5">
        <!-- Logo -->
        <a class="navbar-brand text-white" style="font-weight:500" asp-area="Therapist" asp-controller="Sessions" asp-action="Index">
            ETherapist
        </a>
        <!-- Sign Up or Log in -->
        <div class="d-flex" style="font-size:12px;margin-left:auto">
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>
