<div class="col-3 c-sidebar c-sidebar-shadow">
    <!-- Main menu -->
    <div class=" c-sidebar-menu">
        <h1 class="c-sidebar-header" style="margin-top:75px;">Main Menu</h1>
        <div class="c-sidebar-item-list">
        <!-- Sessions -->
            <a class="c-sidebar-item active" asp-area="Admin" asp-controller="Sessions" asp-action="Index">
                <div class="c-sidebar-item-icon">
                    <i class="bi bi-clock-fill"></i>
                </div>
                <span class="c-sidebar-item-text">
                    Sessions
                </span>
            </a>
            <!-- Subscriptions -->
            <a class="c-sidebar-item" asp-area="Admin" asp-controller="Therapists" asp-action="Index">
                <div class="c-sidebar-item-icon">
                    <i class="bi bi-clipboard2-pulse-fill"></i>
                </div>
                <span class="c-sidebar-item-text">
                    Therapists
                </span>
            </a>
            <!-- Cameron -->
            <a class="c-sidebar-item" asp-area="Admin" asp-controller="Cameron" asp-action="Index">
                <div class="c-sidebar-item-icon">
                    <i class="bi bi-robot"></i>
                </div>
                <span class="c-sidebar-item-text">
                    Cameron
                </span>
            </a>
        </div>
    </div>
    <div class="c-sidebar-footer">
        <div style="font-weight:500">
            Etherapist patient dashboard
        </div>
        <div>
            © 2022 All rights reserved
        </div>
    </div>
</div>