@page
@model ChangePasswordModel
@using etherapist.Utility
@using etherapist.Models

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/etherapist.styles.css" asp-append-version="true" />

@if(User.IsInRole(SD.Role_Admin)) {
    <partial name="_NavbarAdmin" />
}
@if(User.IsInRole(SD.Role_Patient)) {
    <partial name="_NavbarPatient" />
}
@if(User.IsInRole(SD.Role_Therapist)) {
    <partial name="_NavbarTherapist" />
}
<partial name="_Notifications" />
<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6 m-auto mt-5 p-5" style="background-color:white;border-radius:15px;border:.5px solid #D2D2D2">
        <h2 class="mb-5">Change Password</h2>
        <form id="change-password-form" method="post">
            <div class="mb-3">
                <label asp-for="Input.OldPassword" class="form-label">Current Password</label>
                <input asp-for="Input.OldPassword" type="password" class="form-control" id="currentPassword" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>