<div style="width:100%;min-height:100vh;background-color:#FFFFFF" class="mt-5">
    <!-- Section 1 -->
    <div id="carouselExampleIndicators" class="carousel slide m-auto" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="~/images/Background.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption mb-5">
                <div class="carousel-text-custom1 mb-3">
                    <h1 style="font-size:3.3rem;">Happiness is a direction, not a place</h1>
                </div>
                <div class="carousel-text-custom2 mb-5">
                    <p>
                        Give yourself access to the best professionals in the world, your mental health is our priority. Sign up now and chat with professional therapists from all over the world for free.
                    </p>
                </div>
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Get Started&nbsp; <i class="bi bi-arrow-right"></i></a>
            </div>
            </div>
            <div class="carousel-item">
            <img src="~/images/Background.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
            <img src="~/images/Background.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        </div>


    <!-- Section 2 -->
    <div class="container pb-5" style="height:auto">
        <!-- Find you inner happiness -->
        <div class="row d-flex align-items-center justify-content-around">
            <div style="width:500px" class="col-lg-6 mt-5">
                <h3>Find your Inner Happiness</h3>
                <p>
                    Are you feeling depressed? Tried searching online for solutions? Feel at home, your seaching  has ended, at ETherapist. You have access to trained professionals with years of experience. You are not alone.
                </p>
                <a class="btn link" style="color:#AB0029">Schedule a Therapy Session now&nbsp; <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-lg-6">
                <img width="500px" src="~/images/happy-woman.png" alt="" />
            </div>
        </div>

        <!-- Explore Cameron -->
        <div class="row d-flex align-items-center justify-content-around">
            <div class="col-lg-6">
                <img width="500px" src="~/images/mirror-self.png" alt="" />
            </div>
            <div style="width:500px" class="col-lg-6 mt-5">
                <h3>Diagnose yourself</h3>
                <p>
                    Are you feeling depressed? Tried searching online for solutions? Feel at home, your seaching  has ended, at ETherapist. You have access to trained professionals with years of experience. You are not alone.
                </p>
                <a class="btn link" style="color:#AB0029">Explore Cameron&nbsp; <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

    <!-- Section 3 -->
    <div class="container-flud bg-primary">
        <div class="container pt-5-custom" style="height:auto">
            <div class="text-center">
                <h3>Ready to join us?</h3>
            </div>
            <div class="my-4">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 d-flex justify-content-between">
                    <div>
                        <p>FAQ</p>
                        <p>Terms of Use</p>
                        <p>Privacy policy</p>
                        <p>Help & support</p>
                    </div>
                    <div>
                        <p>Contact us:</p>
                        <p>support@etherapist.com</p>
                    </div>
                </div>
                <div class="col-lg-6 pb-5 d-flex flex-column align-items-center justify-content-center">
                    <div class="mb-4">
                        <h3>Coming soon on:</h3>
                    </div>
                    <div>
                        <img src="~/images/Playstore-logo.png" />
                        <img src="~/images/Appstore-logo.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 4 -->
    <div class="container py-5">
        <div class="pb-3" style="text-align:center;">
            <h2>Follow us on social media</h2>
        </div>
        <div class="d-flex justify-content-center" >
            <img class="px-3" src="~/images/Twitter-logo.png" />
            <img class="px-3" src="~/images/Facebook-logo.png" />
            <img class="px-3" src="~/images/Instagram-logo.png" />
        </div>
    </div>
</div>